.Cody-Online-Title {

	color: lightgreen;
	font-weight: bold;

}

.Cody-Online-Title::before {

	background-color: lightgreen;
	font-weight: bold;

}

.Cody-Online-Title::after {

	background-color: lightgreen;
	font-weight: bold;

}
